<form class="form-horizontal">
  <div class="form-group row">
    <label for="inputFirstname" class="col-sm-2 form-control-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="firstname" id="inputFirstname" placeholder="First Name" [(ngModel)]="user.firstName">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLastname" class="col-sm-2 form-control-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="lastname" id="inputLastname" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email" [(ngModel])="user.email" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLogin" class="col-sm-2 form-control-label">Status</label>
    <div class="col-sm-10">
      <select name="status" [(ngModel)]="user.status">
          <option *ngFor="let status of statusList" [value]="status">{{ status }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLogin" class="col-sm-2 form-control-label">Login</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="login" id="inputLogin" placeholder="Login" [(ngModel)]="user.userName" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 form-control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 form-control-label">Signature</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <textarea class="form-control" name="signature" placeholder="Signature" [(ngModel)]="user.signature"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-info">Cancel</button>
    </div>
  </div>
</form>
